<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The Message Board</h1>
    <% if (messages) { %>
        <% for (var i =0; i < messages.length; i ++) { %>
            <h3>Name:<a href="<%=messages[i]._id%>"><%= messages[i].Name%></a></h3>
            <h3>Message: <%= messages[i].Message%></h3>
            <% for(var j = 0; j < messages[i].Comments.length; j++) {%>
                <h5><%="Comment: " + messages[i].Comments[j].Comment %></h5>
                <% } %>
            <form action=<%="/comment/" + messages[i]._id %> method="post">
                Comment: <input type="text" name="comment"><br>
                <input type="submit" value='SUBMIT'>
            </form>
        <% } %>
    <% } %><br><br><br>
    <form action="/message" method="post">
        New Message: <input type="text" name="Message"><br>
        Name: <input type="text" name="Name"><br>
        <input type="submit" value='SUBMIT'>
    </form>
</body>
</html>